@font-face {
  font-family: "Travaille";
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url("../fonts/Travaille-v4.95-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Mplus';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url("../fonts/mplus-1m/webfont/mplus-1m-regular-sub.woff") format("woff");
}
@font-face {
  font-family: 'Mplus-bold';
  font-style: bold;
  font-weight: bold; /* or 400 */
  src: url("../fonts/mplus-1m/webfont/mplus-1m-bold-sub.woff") format("woff");
}
@font-face {
  font-family: 'Mplus-light';
  font-style: lighter;
  font-weight: lighter; /* or 400 */
  src: url("../fonts/mplus-1m/webfont/mplus-1m-light-sub.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Travaille", BlinkMacSystemFont, sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
}
body {
  font-family: "Mplus", Georgia, Times, serif;
  margin: 0px;
  padding: 0;
}
:root {
  --font-family-serif: "Mplus", Georgia, Times, serif;
  --color-black: #202123;
  --color-dark-gray: #32373e;
  --color-gray: #697a90;
  --color-light-gray: #b4bcc7;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #156dff;

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */
}

/* Custom Branding */

.myLogoWeb {
  height: 6rem;
}

.ticker {
  /* display: flex; */
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 8px;
  background-color: #FF8F66;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
  /* flex-shrink: 0; */
  white-space: nowrap;
}
.ticker__element {
  /* display: flex; */
  padding: 10px 0;
  /* flex-shrink: 0; */
}
footer {
  background-color: #000000;
  color: #fff;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0000ff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0000ff;
}
::-webkit-scrollbar-thumb:active {
  background: #ff8f66;
}
::-webkit-scrollbar-track {
  background: #d3b3ff;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #d3b3ff;
}
::-webkit-scrollbar-track:active {
  background: #0000ff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
