.root {
  display: grid;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #000000;
  margin:0 -1px -1px 0; */
  height: 100%;
  background-color: #ffffff;
  position: relative;
  @nest &:hover {
    background-color: #0000FF;
    color: #ffffff;
  }
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: top left;
  position: absolute;
  top: 12%;
  left: 93%;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 6px;
  align-self: center;
  /* background: red; */
  text-align: left;
  width: fit-content;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.leadMediaThumb {
  position: relative;
  /* padding-bottom: 66.666%; */
  /* background: #eee; */
  /* padding: 50% 0; */
  margin: 20%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  @nest & img {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-self: center;
    justify-content: center;
    /* object-fit: cover; */
  }
}

.excerpt {
  display: none;
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
